@charset "utf-8";

body {
    background: #FFFAF0;
}



/* users.show のイメージアイコン */
.image_icon {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px #444444;
}

/* 投稿画像の調整 */
td img {
    width: 200px;
}


/* 投稿画像一覧(welcome.blade.php) */
.image_title {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px #444444;
}

/* アバターアイコンの調整 */
.avatar {
    width: 50px;
    border-radius: 5px;
}

.no_avatar {
    width: 50px;
    border-radius: 5px;
}

/*media query*/
/*ref)*/
/*https://www.seojuku.com/blog/responsive-mediaquery.html*/

/*タブレット 横は	パソコンと同じ*/
/*タブレット 縦のみ	*/
@media screen and (max-width: 1024px) and (orientation: portrait){
    
}
/*タブレット 縦から	*/
@media screen and (max-width: 1024px){
    
}
/*スマホ 横のみ	*/
@media screen and (max-width: 896px) and (orientation: landscape){
    
}
/*スマホ 横から	*/ 
@media screen and (max-width: 896px){
    
}
/*スマホ　縦からは */
@media screen and (max-width: 480px){
    
}